@import "reset.css";
@import "main_visual.css";
@import "main_business.css";
@import "main_different.css";
@import "footer.css";
@import "sub_visual.css";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}


a {
    text-decoration: none;
    color: white;
}
